/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 :root {
   --main-color: #c12b61;
   --minor-color: #fcf4ec;
   --highlight-color:#c9c3bc;
 }


 body{
  font-family: Cardo;
}

#main-title, h3, h4{
  color: var(--main-color)
}

header{
  text-align: center;
}

nav, #main, .main-view form{
  display: flex;
  padding: 8px;
}

.main-view form{
  flex-direction: column;
}

nav{
  flex-basis: 20%; 
}

nav ul {
  padding: 10px 0px;
}


.main-view{
  flex-basis: 60%;
  background-color: var(--minor-color);
  border-radius: 5px;
  width: 70%;
  padding: 10px;
}

.main-view a{
  display: inline-block;
}

nav ul{
  list-style-type: none;
}


form{
  align-items: center;
}

form input, label, select{
  margin-top: 10px;
  width: 40%;
}

.main-table{
  width: 100%;
  text-align: center;
}

tr:hover {
  background-color: var(--highlight-color);
}

a{
  border-radius: 5px;
  text-align: center;
  display: block;
  width: 100px;
  background-color: var(--main-color);
  color: white;
  text-decoration: none
}